.brand-logo {
    margin-left: 10px;
}

body {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    background-color: rgb(229, 232, 235);
    margin-left: 10px;
    
}

button {
    font-family: 'Lobster', cursive;
}

input {
    font-family: 'Lobster', cursive;
    font-size: 30px;

}

label {
    color: rgb(18, 95, 72);
    font-size: 30px;
}

span {
    font-size: 28px;  
}

form {
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

th {
    color: rgb(18, 95, 72);
}

#show {
    color: rgb(18, 95, 72);
}