<%- include('../partials/header') %>

<select>
    <% ingredients.forEach(function(i) { %>
        <option><%= i.name %></option>
    <% }); %>
</select>

<form id="add-ingredient-form" action="/ingredients" method="POST">
    <label>Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Add Ingredient">
</form>

<%- include('../partials/footer') %>